.register-form {
  margin-top: 45px;
  min-height: 879px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.title{
  font-size: 27px;
}

form{
  display: flex;
  flex-direction: column;
}

.register-form app-input {
  padding-bottom: 22px;
}

p{
  margin-bottom: 26px;
  font-size: 11px;
}
