<div class="register-form">

  <form (submit)="onSubmit()">

    <p class="title">Register</p>

    <app-input
      [label]="'User Name'"
      [class]="'register-inputs'"
      [iconClass]="'icon-cross'"
      [placeHolder]="'e.g John.cena'"
      [name]="'username'"
      [type]="'text'"
      [(value)]="model.username"
      (setValue)="this.model.username = $event"
      [iconClick]="deleteUserNameInput"
    >
    </app-input>

    <app-input
      [label]="'Email'"
      [class]="'register-inputs'"
      [iconClass]="'icon-cross'"
      [placeHolder]="'e.g jsmith@example.com'"
      [name]="'email'"
      [type]="'text'"
      [(value)]="model.email"
      (setValue)="this.model.email = $event"
      [iconClick]="deleteEmailInput"
    >
    </app-input>

    <app-input
      [label]="'Password'"
      [class]="'register-inputs'"
      [iconClass]="'icon-eye'"
      [name]="'password'"
      [type]="passwordShow ? 'text' : 'password'"
      [(value)]="model.password"
      (setValue)="this.model.password = $event"
      [iconDownUp]="showPassword"
      [iconLeave]="hidePassword"
    >
    </app-input>

    <app-input
      [label]="'Repeat Password'"
      [class]="'register-inputs'"
      [iconClass]="'icon-eye'"
      [name]="'repeat-password'"
      [type]="repeatPasswordShow ? 'text' : 'password'"
      [(value)]="model.repeatPassword"
      (setValue)="this.model.repeatPassword = $event"
      [iconDownUp]="showRepeatPassword"
      [iconLeave]="hideRepeatPassword"
    >
    </app-input>

    <p>Password must be with at least one upper case letter, one number and one special characters</p>

    <app-button
      [label]="'Register'"
      [class]="'register-button'"
      [iconClass]=""
      [type]="'submit'"
    >
    </app-button>

  </form>

</div>
