.beer {
  min-height: 813px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

app-beer-details {
  display: flex;
  justify-content: center;
}

app-beer-details-editable {
  display: flex;
  justify-content: center;
}
