.cart {
  min-height: 908px;
  margin-top: 50px;
  display: flex;
}

p {
  margin: 50px;
  text-align: center;
}

ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}

li{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

app-cart-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
