<div class="header">

  <div class="cart-button">

    <app-button
      [class]="'nav-button'"
      [type]="'button'"
      [link]="'cart'"
      [buttonClick]="changeLink"
      [iconClass]="'icon-cart'"
    >
    </app-button>
    <i
      *ngIf="itemsCount > 0"
      class="items-count"
    >{{itemsCount}}</i>

  </div>

  <app-button
    *ngIf="isAdmin"
    [class]="'nav-button'"
    [iconClass]="'icon-users'"
    [type]="'button'">
  </app-button>

  <app-button
    *ngIf="username && !isAdmin"
    [class]="'nav-button'"
    [label]="'Request access'"
    [type]="'button'">
  </app-button>

  <app-button
    [class]="'nav-button'"
    [label]="'Home'"
    [link]="'home'"
    [buttonClick]="changeLink"
    [type]="'button'">
  </app-button>

  <app-button
    *ngIf="username"
    [class]="'nav-button'"
    [label]="'Logout'"
    [type]="'button'"
    [buttonClick]="logout">
  </app-button>

  <div class="auth-buttons"
       *ngIf="!username">

    <app-button
      [class]="'nav-button'"
      [label]="'Login'"
      [type]="'button'"
      [link]="'login'"
      [buttonClick]="changeLink">
    </app-button>

    <app-button
      [class]="'nav-button'"
      [label]="'Register'"
      [type]="'button'"
      [link]="'register'"
      [buttonClick]="changeLink">
    </app-button>

  </div>

</div>
