.input {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

label {
  padding-bottom: 7px;
  height: 19px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #475155;
}

.input-and-icon {
  border-bottom: 1px solid #a5a5a5;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-inputs:focus {
  outline: none;
}

i {
  cursor: pointer;
}

.login-inputs {
  border-width: 0;
  width: 448px;
  padding-bottom: 7px;
}

.register-inputs:focus {
  outline: none;
}

.register-inputs {
  border-width: 0;
  width: 448px;
  padding-bottom: 7px;
}

.icon-cross {
  font-size: 13px;
}

.request-access-inputs:focus {
  outline: none;
}

.request-access-inputs {
  border-width: 0;
  width: 448px;
  padding-bottom: 7px;
}
