<div class="button">
  <i
    *ngIf="link && iconClass"
    class="{{iconClass}}"
    (click)="buttonClick ? buttonClick(link): ''">
  </i>
  <i
    *ngIf="!link && iconClass"
    class="{{iconClass}}"
    (click)="buttonClick ? buttonClick(): ''">
  </i>
  <button *ngIf="link && type"
          class="{{class}}"
          type="{{type}}"
          (click)="buttonClick ? buttonClick(link):''"
  >{{label}}
  </button>
  <button *ngIf="!link && type"
          class="{{class}}"
          type="{{type}}"
          (click)="buttonClick ? buttonClick():''"
  >{{label}}
  </button>
</div>
